rules_version = '2';
service cloud.firestore {
  function validateUndefined(data, key) {
    return !data.keys().hasAll([key])
  }

  function validateInt(num, min, max) {
    return (num is int || num is float) && min <= num && num <= max;
  }

  function incomingData() {
    return request.resource.data;
  }

  function validateString(text, min, max) {
    return text is string && min <= text.size() && text.size() <= max;
  }

  function validateRegExp(text, regexp) {
    return text is string && text.matches(regexp);
  }

  function existingData() {
    return resource.data;
  }

  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
    }
    match /users {
      match /{userId} {
        allow write: if userId == request.auth.uid
          && validateString(incomingData().displayName, 0, 512)
          && validateString(incomingData().photoUrl, 0, 512)
        ;
      }
    }
    match /battlerecords {
      match /{recordId} {
        allow create: if true
                    && (request.auth.uid == incomingData().userId || 'anonymous' == incomingData().userId)
                    && (validateUndefined(incomingData(), 'note') || validateString(incomingData().note, 0, 1024))
                    && validateInt(incomingData().season, 0, 20)
                    && (validateInt(incomingData().rank, 0, 500000) || incomingData().rank == null)
                    && (validateInt(incomingData().opponentRank, 0, 500000) || incomingData().opponentRank == null)
                    && (incomingData().result == 'win' || incomingData().result == 'lose')
                    && validateString(incomingData().captureUrl, 0, 1024)
                    && (validateUndefined(incomingData(), 'videoUrl') || validateString(incomingData().videoUrl, 0, 1024))
        ;
        allow update: if request.auth.uid == existingData().userId
                    && (validateUndefined(incomingData(), 'note') || validateString(incomingData().note, 0, 1024))
                    && validateInt(incomingData().season, 0, 20)
                    && (validateInt(incomingData().rank, 0, 500000) || incomingData().rank == null)
                    && (validateInt(incomingData().opponentRank, 0, 500000) || incomingData().opponentRank == null)
                    && (incomingData().result == 'win' || incomingData().result == 'lose')
                    && validateString(incomingData().captureUrl, 0, 1024)
                    && (validateUndefined(incomingData(), 'videoUrl') || validateString(incomingData().videoUrl, 0, 1024))
        ;
        allow delete: if request.auth.uid == existingData().userId;

        match /myParty {
          match /{pokemonId} {
            allow read, create;
          }
        }

        match /opponentParty {
          match /{pokemonId} {
            allow read, create;
          }
        }
      }
    }
  }
}
