service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow create;

      match /icons/{userId}/me {
        allow update: if userId == request.auth.uid;
      }
    }
  }
}
